@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    background-color: #383e56;
    
  }

body {
    margin: 0;
    padding: 0;
}
